{% load i18n %}
<ul>
    <li>
        <a href="{% url 'blog:post_list' %}">Home </a>
    </li>
    <li>
        <a href="{% url 'blog:post_search' %}">Search</a>
    </li>
     <li>
        <form class="language-switcher" action={% url 'set_language' %} method="POST">
            {% csrf_token %}
            <input type="hidden" name="text" value="{{ redirect_to }}">
            <select name="language" id="">
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    <option value="{{ language.code }}"
                            {%  if language.code == LANGUAGE_CODE %}
                            selected {% endif %}>
                    {{ language.name_local }} - {{ language.code }}
                    </option>
                {% endfor %}
            </select>
            <input type="submit" value="Go">
        </form>
     </li>
</ul>